In [1]:
import pandas as pd
import numpy as np
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble
from sklearn_pandas import DataFrameMapper

In [2]:
data=pd.read_csv('mpg_data_example.csv')

In [3]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin,carname
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [4]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
modelyear       0
origin          0
carname         0
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer

mapper = DataFrameMapper([
                        (['cylinders','displacement','weight','acceleration','modelyear'], preprocessing.StandardScaler()),
                        (['horsepower'],SimpleImputer()),
                        (['origin'], preprocessing.OneHotEncoder())
                        ])

In [ ]:
columns = 14
test = 1/np.sqrt(columns)
train = 1 - test
print(test)
print(train)

In [6]:
pipeline_obj = pipeline.Pipeline([
    ('mapper',mapper),
    ("model", ensemble.RandomForestRegressor())
])

In [7]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'modelyear', 'origin', 'carname'],
      dtype='object')

In [8]:
X=['cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'modelyear', 'origin']
Y=['mpg']

In [9]:
pipeline_obj.fit(data[X],data[Y])

/home/surename/Documents/jango/ipynb/.env/lib/python3.7/site-packages/sklearn/pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'modelyear'],
                                            StandardScaler()),
                                           (['horsepower'], SimpleImputer()),
                                           (['origin'], OneHotEncoder())])),
                ('model', RandomForestRegressor())])

In [10]:
pipeline_obj.predict(data[X])

array([17.233, 14.92 , 17.02 , 16.27 , 17.052, 14.53 , 13.95 , 14.13 ,
       13.63 , 14.69 , 14.9  , 14.46 , 15.12 , 14.622, 23.863, 21.567,
       19.17 , 20.915, 26.96 , 26.48 , 24.34 , 24.479, 24.65 , 25.194,
       20.945, 10.49 , 10.91 , 11.665,  9.81 , 27.03 , 26.585, 25.036,
       25.86 , 19.421, 16.727, 17.501, 18.731, 18.196, 13.935, 13.73 ,
       14.13 , 14.33 , 12.13 , 12.83 , 12.66 , 18.296, 22.135, 18.741,
       18.3  , 23.682, 26.902, 29.338, 28.99 , 31.37 , 33.65 , 27.605,
       26.93 , 24.548, 25.985, 23.505, 20.535, 22.17 , 13.45 , 13.76 ,
       14.615, 14.13 , 15.87 , 11.9  , 12.85 , 12.565, 13.075, 20.76 ,
       14.99 , 13.77 , 13.405, 14.07 , 19.068, 22.6  , 20.97 , 26.205,
       22.641, 26.332, 22.958, 27.49 , 26.665, 13.395, 14.46 , 13.395,
       14.12 , 14.71 , 12.06 , 13.32 , 13.34 , 14.285, 12.57 , 12.13 ,
       13.385, 18.372, 16.455, 18.23 , 18.525, 22.167, 26.285, 11.51 ,
       12.13 , 12.77 , 12.38 , 18.34 , 21.97 , 21.45 , 22.94 , 21.245,
       20.06 , 21.072, 26.109, 14.385, 15.02 , 28.375, 24.66 , 21.565,
       19.688, 15.402, 22.78 , 20.381, 12.445, 20.118, 20.33 , 19.232,
       16.06 , 31.03 , 25.33 , 31.09 , 24.529, 16.175, 16.075, 17.837,
       15.27 , 13.29 , 13.97 , 13.53 , 14.235, 27.5  , 27.485, 26.543,
       31.677, 31.745, 27.639, 25.95 , 25.817, 23.884, 25.715, 29.89 ,
       19.133, 17.785, 15.578, 16.285, 15.165, 14.83 , 15.31 , 14.375,
       17.056, 16.09 , 15.62 , 17.669, 20.476, 19.424, 14.97 , 28.37 ,
       23.395, 19.669, 22.973, 24.453, 25.664, 23.978, 18.725, 28.784,
       18.812, 23.447, 22.342, 21.746, 23.984, 32.436, 26.788, 25.413,
       24.791, 25.948, 27.455, 16.75 , 15.82 , 15.832, 14.845, 21.45 ,
       20.696, 22.466, 21.754, 29.346, 25.45 , 29.049, 32.426, 19.273,
       18.322, 18.005, 18.318, 29.19 , 31.945, 28.03 , 25.963, 20.366,
       13.729, 20.565, 19.914, 16.699, 15.555, 13.625, 13.845, 13.492,
       31.379, 29.578, 33.403, 25.692, 33.225, 16.769, 17.03 , 15.712,
       15.509, 17.763, 20.323, 19.028, 18.297, 15.755, 15.575, 15.698,
       15.855, 29.38 , 24.588, 26.772, 24.963, 30.809, 32.39 , 30.896,
       29.893, 21.679, 22.784, 22.212, 40.   , 35.463, 34.922, 37.22 ,
       35.514, 19.615, 19.006, 19.49 , 19.022, 20.253, 20.459, 24.927,
       20.128, 19.611, 20.398, 20.713, 18.666, 18.731, 18.861, 18.072,
       18.352, 17.103, 30.518, 25.59 , 26.834, 30.054, 22.891, 23.163,
       23.251, 24.169, 21.122, 17.534, 21.845, 16.808, 31.727, 30.473,
       21.353, 21.118, 23.537, 20.265, 20.579, 17.39 , 18.04 , 17.312,
       17.82 , 16.611, 16.15 , 20.281, 17.744, 34.249, 34.172, 35.594,
       27.665, 25.73 , 21.029, 27.726, 23.061, 34.986, 34.426, 33.328,
       37.13 , 27.688, 27.67 , 26.137, 30.705, 39.018, 37.214, 33.398,
       36.879, 27.937, 25.645, 24.862, 19.98 , 34.619, 29.959, 31.552,
       34.667, 32.678, 43.034, 26.662, 40.861, 43.124, 41.333, 33.555,
       29.966, 41.577, 38.128, 34.924, 32.676, 28.864, 27.939, 33.733,
       24.036, 32.575, 28.817, 27.137, 26.614, 24.164, 31.265, 37.91 ,
       37.757, 35.497, 34.009, 36.318, 36.918, 34.031, 34.864, 34.505,
       32.097, 33.659, 33.75 , 34.05 , 32.647, 32.226, 31.458, 27.867,
       27.755, 26.256, 25.869, 21.667, 24.087, 21.002, 19.569, 28.298,
       27.686, 32.805, 30.419, 29.083, 27.053, 24.5  , 23.694, 35.67 ,
       36.37 , 32.816, 37.211, 35.526, 35.92 , 35.413, 33.816, 36.445,
       33.478, 36.529, 25.77 , 31.543, 27.142, 24.216, 30.82 , 34.41 ,
       26.048, 26.838, 41.872, 32.293, 28.45 , 29.896])

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data[X], data[Y], test_size= 0.3)

In [ ]:
pipeline_obj.fit(data[X],data[Y])

In [24]:
from sklearn.externals import joblib

In [ ]:
joblib.dump(pipeline_obj,'RFModelforMPG.pkl')

In [ ]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [ ]:
modelReload.predict(data[X])

In [ ]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower']=3
temp['weight']=4
temp['acceleration']=5
temp['model year']=6
temp['origin']=1

In [ ]:
testDtaa=pd.DataFrame({'x':temp}).transpose()

In [ ]:
testDtaa

In [ ]:
modelReload.predict(testDtaa)[0]